[submodule "app/modules/elite-dangerous/elite-api-docs"]
	path = app/modules/elite-dangerous/elite-api-docs
	url = https://github.com/Lombra/elite-api-docs.git
[submodule "app/modules/elite-dangerous/elite-dangerous-stream-deck-icons"]
	path = app/modules/elite-dangerous/elite-dangerous-stream-deck-icons
	url = https://github.com/Rob-Manders/elite-dangerous-stream-deck-icons.git